<div class="sidebar">
  <ul>
    <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/eventolist"><i class="far fa-calendar-alt"></i> Eventos</a></li>
    <li><a routerLink="/palpitelist"><i class="far fa-palp"></i> Meus Palpites</a></li>
    <li><a routerLink="/ranking"><i class="fas fa-trophy"></i> Ranking</a></li>
    <li><a routerLink="/usuario"><i class="far fa-user"></i> Meu Perfil</a></li>
  </ul>
</div>

<div class="main-content">

<form (submit)="onSubmit()">
    <label>
      Email:
      <input type="email" name="email" [(ngModel)]="email">
    </label>
    <label>
      Usuário:
      <input type="text" name="usuario" [(ngModel)]="usuario">
    </label>
    <label>
      Senha:
      <input type="password" name="senha" [(ngModel)]="senha">
    </label>
    <button type="submit">Registrar</button>
  </form>
  </div>