<div class="sidebar">
  <ul>
    <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/eventolist"><i class="far fa-calendar-alt"></i> Eventos</a></li>
    <li><a routerLink="/palpitelist"><i class="far fa-palp"></i> Meus Palpites</a></li>
    <li><a routerLink="/ranking"><i class="fas fa-trophy"></i> Ranking</a></li>
    <li><a routerLink="/usuario"><i class="far fa-user"></i> Meu Perfil</a></li>
  </ul>
</div>
<div class="main-content">
  <div>
    <h2>Faça seu palpite</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="palpite-selecao1">Palpite para {{ selecao1 }}</label>
        <input id="palpite-selecao1" type="number" name="palpiteSelecao1" required>
      </div>
      <div class="form-group">
        <label for="palpite-selecao2">Palpite para {{ selecao2 }}</label>
        <input id="palpite-selecao2" type="number" name="palpiteSelecao2" required>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>