<h1>Palpite dos Jogos</h1>

<p>Faça seu palpite sobre as seleções:</p>

<form class="form_palpite">
    <fieldset>
        <legend>Jogo</legend>
        <label for="jogo_casa">Seleção:</label>
        <input type="text" id="jogo1_casa" name="jogo_selecao1" value="Selecao1" readonly>
        <input type="number" id="palpite1" name="palpite1" placeholder="Digite seu palpite">
        <label for="jogo_visitante">Seleção:</label>
        <input type="text" id="jogo2_palpite" name="jogo_selecao2" value="Selecao2" readonly>
        <input type="number" id="palpite2" name="palpite2" placeholder="Digite seu palpite">
        <button type="submit">Enviar Palpites</button>
    </fieldset>
</form>
