  
  <div class="sidebar">

      <ul>
        <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a routerLink="/eventolist"><i class="far fa-calendar-alt"></i> Eventos</a></li>
        <li><a routerLink="/palpitelist"><i class="far fa-palp"></i> Meus Palpites</a></li>
        <li><a routerLink="/ranking"><i class="fas fa-trophy"></i> Ranking</a></li>
        <li><a routerLink="/usuario"><i class="far fa-user"></i> Meu Perfil</a></li>
      </ul>
    </div>
  
  <div class="main-content">
  <h2>Adicionar Evento</h2>
  <form>
    <div>
      <label>Id:</label>
      <input type="number" [(ngModel)]="evento.id" name="id" required>
    </div>
    <div>
      <label>Selecao 1:</label>
      <input type="text" [(ngModel)]="evento.selecao1" name="selecao1" required>
    </div>
    <div>
      <label>Selecao 2:</label>
      <input type="text" [(ngModel)]="evento.selecao2" name="selecao2" required>
    </div>
    <div>
      <label>Horario Inicio:</label>
      <input type="text" [(ngModel)]="evento.horarioinicio" name="horarioinicio" required>
    </div>
    <div>
      <label>Horario Fim:</label>
      <input type="text" [(ngModel)]="evento.horariofim" name="horariofim" required>
    </div>
    <div>
      <label>Placar 1:</label>
      <input type="number" [(ngModel)]="evento.placar1" name="placar1" required>
    </div>
    <div>
      <label>Placar 2:</label>
      <input type="number" [(ngModel)]="evento.placar2" name="placar2" required>
    </div>
    <div>
      <label>Abertura Flag:</label>
      <input type="checkbox" [(ngModel)]="evento.aberturaflag" name="aberturaflag">
    </div>
    <button type="submit" (click)="adicionarEvento()">Adicionar</button>
  </form>
</div>
