
    <h1>Login</h1>

    <form >

        <div >
            <label name="username">Nome de Usuário</label>
            <input type="text" name="username" id="username" placeholder="Insira o seu Usuario" required>
        </div>  

        <div >
            <label name="senha">Senha</label>
            <input type="password" nome="senha"  id="senha" placeholder="Insira sua senha" required>
        </div>

        <div>
          <input type="hidden" name="acao" value="enviar">
          <button type="submit" name="Submit" >Entrar</button>
        </div>
    
    </form>
