
    <h1>Login</h1>

    <form >

        <div >
            <label>Username</label>
            <input type="text" name="email" id="email" placeholder="Insira o seu Usuario" required>
        </div>  

        <div >
            <label name="senha">Senha</label>
            <input type="password" nome="senha"  id="senha"  placeholder="Insira sua senha" required>
        </div>

    </form>

        <div>

          <input type="hidden" name="acao" value="enviar">
          <button type="submit" name="Submit" >Entrar</button>

        </div>