// Parte fixa, cabeçalho
<p>Ranking Usuarios</p>
<table>
    <tr>
    <td> Posição</td>
    <td>Nome</td>
    <td>Pontuação</td>


    // CÓDIGO PHP, VERIFICAR COMO INTEGRAR PHP NO ANGULAR
    <?php $posicao = 1; //variavel
    // Inclui o arquivo que faz a conexão ao banco de dadosinclude
    ("includes/mysqli.php");
    //consulta 
    sql$query = mysql_query("SELECT Nome,Pontuacao FROM usuario ORDER BY pontuacao desc") or die(mysql_error());
    //faz um looping e cria um  array com os campos da consulta
    while($array = mysql_fetch_array($query)) {
    $nome=$array['Nome'];$pontuacao=$array['Pontuacao'];
    
    ?>
     <tr><td>
        <?php echo $posicao; ?>
    </td><td><?php echo $nome; ?></td><td>
        <?php echo $pontuacao; ?></td><td>
      
    <?php$posicao = $posicao + 1; // acumula proxima posicao ate terminar} ?>
</table>
    
