<div class="sidebar">
  <ul>
    <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/eventolist"><i class="far fa-calendar-alt"></i> Eventos</a></li>
    <li><a routerLink="/palpitelist"><i class="far fa-palp"></i> Meus Palpites</a></li>
    <li><a routerLink="/ranking"><i class="fas fa-trophy"></i> Ranking</a></li>
    <li><a routerLink="/usuario"><i class="far fa-user"></i> Meu Perfil</a></li>
  </ul>
</div>


<div class="main-content">
<table>
  <thead>
    <tr>
      <th>Posição</th>
      <th>Nome</th>
      <th>Pontuação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.posicao }}</td>
      <td>{{ user.nome }}</td>
      <td>{{ user.pontuacao }}</td>
    </tr>
  </tbody>
</table>

</div>