<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usarname</th>
        <th scope="col">Pontuação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>13</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Jogador </td>
        <td> 12</td>
      </tr>
    </tbody>
  </table>
